/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.03.2019., 10:58:01
    Author     : Tino
*/

/*
@media only screen and (min-width: 1366px){
    nav{
    margin-left: 200px;
    margin-right:200px;
}
    
}

*/